.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#homepage{
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#bio {
  width: 20%;
  background-color: gray;
  font-size: 30px;
  min-width: 15em;
  float: left;
}

#selfie-container {
  float: left;
  width: 100%;
  height: 27%;
  display: inline-block;
  position: relative;
}

#selfie-container img {
  width: 100%;
  max-width: 8em;
  border-radius: 500px;

}

.bioText {
  margin-top: 100px;
  clear: both;
  float: left;
  text-align: left;
  margin-left: 1em;
}

#personalName {
  width: 100%;
  text-align: center;
  margin-left: 0;
}


#projectsContainer {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  float: right;
  width: 65%;
}

.project {
  margin: 20px; 
  float: left;
  width: 10%;
  transition-duration: 500ms;
  background-color: rgba(230, 243, 255, 0.7);
  border-radius: 15px;
  min-width: 20em;
  -ms-flex: 1;  /* IE 10 */  
}

.project:hover {
  background-color: rgba(53, 55, 194, 0.897);
  transition-duration: 500ms;
}

.projectImage {
  height: 15em;
  max-width: 15em;
  padding-top: 20px;
}

.project{
  margin-left: 100px;
}

#projectsHead {
  width: 100%;
}

.videoplayer{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}