@import url('https://fonts.google.com/specimen/Work+Sans#standard-styles');

@media screen and (min-width: 400px) {
  html {
    margin: 0 auto;
    padding: 0;
  }
  body {
    margin: 0 auto;
    padding: 0;
    z-index: -1;
  }
  #header h1 {
    text-align: center;
  }
  
  #header h4 {
    text-align: center;
    clear: left;
  }

  .project {
    width: 200px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid green;
    min-height: 30em !important;
  }
}

@media screen and (min-width: 1400px) {
  html {
    margin: 0 auto;
    padding: 0;
  }
  body {
    margin: 0 auto;
    padding: 0;
  }
  #header h1 {
    float: left;
    margin-left: 3em;
    z-index: 1;
  }
  
  #header h4 {
    float: right;
    clear: left;
    margin-right: 3.5em;
  }

  .project {
    width: 200px;
    margin: 0 auto;
    width: 100%;
  }

  .header {
    display: block;
    margin-left: 3.5em !important;
  }
}
@media screen and (min-width: 1600px) {
  body {
    margin: 0 auto;
    padding: 0px;
  }
   h1 {
    margin: auto;
    text-align: center;
  }
  
  h4 {
    clear: left;
    margin-right: 3.5em;
  }


}
@media screen and (min-width: 1900px) {
  #header h1 {
    margin-left: 3.5em;
  }
  
  #header h4 {
    margin-right: 3.5em;
  }
}

html {
  background-image: linear-gradient(to bottom, rgba(82, 6, 204), cyan);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0px;
}

body {
  background-image: linear-gradient(to bottom, rgba(82, 6, 204), cyan);
 margin: 0 auto;
 min-height: 100vh;
 padding: 0px;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  /* background-image: linear-gradient(to bottom, rgba(82, 6, 204), cyan); */
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
    padding-top: 2em;
    /* background-color: red; /* For browsers that do not support gradients */
    /*background-image: linear-gradient(to bottom, rgba(82, 6, 204), cyan); */
    position: relative;
  
    min-height: 20em !important;
    height: 100vh;
    width:  100vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 40px;
    color: white;
    z-index: 1;

}

#header p {
  clear: both;
}

#first_greeting {
  animation: fadeIn 5s;
}
#second_greeting {
  animation: fadeIn 5s forwards;
  animation-delay: 2s;
  opacity: 0;
}
#third_greeting {
  animation: fadeIn 5s forwards;
  animation-delay: 4s;
  opacity: 0;
}

.shiner {
  
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineText 6s linear infinite;
  z-index: 1;
}

    @keyframes shineText {
      0%{
        background-position-x: -500%;
      }

      50% {
        text-shadow: 0 0 100px #fff
      }


      100%{
        background-position-x: 500%;

      }
    }

    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    @keyframes fadeInInfo {
      from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
      }
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }


#projectsContainer {
  height: 100em;
  width: 100%;
  display: grid;
  position: relative;
  color: black;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  grid-auto-rows: 100px;
  background: rgba(0, 0, 0, 0);
  overflow: scroll;
}

#homepage{
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#bio {
  width: 50%;
  margin: 0 auto;
  display: relative;
  background-color: rgba(232, 139, 30, 0.3);
  color: black;
  font-size: 30px;
  min-width: 15em;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 3em;
}

#selfie-container {
  float: left;
  width: 100%;
  height: 27%;
  display: inline-block;
  position: relative;
}

#selfie-container img {
  width: 100%;
  max-width: 8em;
  border-radius: 500px;

}

.bioText {
  margin-top: 100px;
  clear: both;
  float: left;
  text-align: left;
  margin-left: 1em;
}

#personalName {
  width: 100%;
  text-align: center;
  margin-left: 0;
}


/* #projectsContainer {
  height: 100%;
  display: grid;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
} */

.projectList {
  display: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

.project {
  margin: 0 20px 20px 20px !important; 
  float: left;
  width: 10%;
  transition-duration: 500ms;
  background-color: rgba(230, 243, 255, 0.7);
  border-radius: 15px;
  min-width: 20em;
  -ms-flex: 1;  /* IE 10 */  
}

.project:hover {
  background-color: rgba(53, 55, 194, 0.897);
  transition-duration: 500ms;
}

.projectImage {
  height: 15em;
  max-width: 15em;
  padding-top: 20px;
}



.projectPage {
  display: fixed;
  height: 100%;
  justify-content: center;
  color: white;
  font-size: 20px;
}

#projectsHead {
  grid-column-start: 1;
  grid-column-end: 2;
}

body > #root > div.projectPage {
  height: 100%;
  margin: 0 auto;
  border: 0px solid;
  display: fixed;
  overflow: scroll;
}

.videoPlayer {
  margin: 0 auto;
  justify-content: center;
  display: block;
}

iframe{
  width: 560;
  height: 315;
  margin-top: 2em;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 50px 1px black;
  border-radius: 10px;
}

.projectDescription {
  height: 80px;
}

a {
  margin-top: 3em;
  display: block;
  text-align: center;
  font-size: 40px;
}

a button {
  background-color: #3254a8;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

a button:hover {
  opacity: 1;
}